<h1>Welcome to EventBuzz!</h1>

<p>Hello <%= @user.name %>,</p>

<p>Your account has been created by the admin. Here are your login credentials:</p>

<p>
  Email: <%= @user.email %><br>
  Password: <%= @password %>
</p>

<p>Please log in and change your password immediately.</p>