<h2>You are invited!</h2>

<p>You have been invited to <%= @event.name %></p>
<p>Kindly login and fill the RSVP</p>

<p>
  Click below to RSVP:
</p>

<p>
  <%= link_to "RSVP Now", new_event_rsvp_url(@event) %>
</p>